ASR_BEARER_TOKEN=change-me
ASR_MODEL_SIZE=large-v3
ASR_DEVICE=cuda
ASR_COMPUTE_TYPE=float16
ASR_WHISPER_CUDA_VISIBLE_DEVICES=0
ASR_WHISPER_KEEP_WARM=1
ASR_POSTPROCESS_ENABLED=1
ASR_POSTPROCESS_PROVIDER=local-llama
ASR_POSTPROCESS_MODEL=example-cleanup-model
ASR_POSTPROCESS_BASE_URL=http://127.0.0.1:9100/v1
ASR_LLM_CUDA_VISIBLE_DEVICES=1
ASR_LLM_DEVICE=
ASR_LISTEN_HOST=127.0.0.1
ASR_LISTEN_PORT=9000
